@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.help {

  &__box3 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    @include desktop {
      margin-bottom: 60px;
    }

    &-list {
      display: flex;
      list-style: none;
    }

    &-pagNumber {
      font-family: $font-base;
      font-size: 1rem;
      color: $black;
      text-align: center;
      padding: 5px 15px;
      cursor: pointer;
      margin-right: 5px;

      &:hover {
        border: 1px solid #707070;
      }
    }

  }
}