@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.about {
  display: flex;
  margin-top: 20px;

  @include tablet {
    height: 500px;
  }

  @include desktop {
    height: 700px;
  }

  &__box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #F0F1F1;
    padding: 40px;

    @include tablet {
      width: 50%;
      padding: 0;
    }

    @include desktop {
      width: 50%;
      padding: 0;
    }

    &-textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include tablet {
        margin: auto 60px;
      }

      @include desktop {
        margin: auto 90px;
      }
    }

    &-title {
      font-family: $font-base;
      font-size: 1.2rem;
      color: $black;
      margin-bottom: 25px;

      @include tablet {
        font-size: 1.5rem;
      }

      @include desktop {
        font-size: 2.1rem;
        margin-bottom: 40px;
      }
    }

    &-desc {
      font-family: $font-base;
      font-size: 0.9rem;
      line-height: 1.3rem;
      color: $black;
      text-align: justify;
      margin-top: 25px;

      @include tablet {
        text-align: center;
      }

      @include desktop {
        font-size: 1.6rem;
        text-align: center;
        margin-top: 55px;
        line-height: 45px;
      }
    }

    &-img {
      margin-top: 30px;
      width: 170px;

      @include tablet {
        margin: 0 20px 30px 0;
      }

      @include desktop {
        margin: 0 60px 60px 0;

      }
    }
  }

  &__box2 {
    display: none;

    @include tablet {
      display: block;
      width: 50%;
      background: url("../../assets/People.jpg");
      background-size: cover;
    }

    @include desktop {
      display: block;
      width: 50%;
      background: url("../../assets/People.jpg");
      background-size: cover;
    }

  }
}


//rwd

//.about {
//  display: flex;
//  margin-top: 25px;
//  height: 885px;
//
//  &__box1 {
//    width: 50%;
//    display: flex;
//    flex-direction: column;
//    align-items: flex-end;
//    background-color: #F0F1F1;
//
//
//    &-text {
//      width: 100%;
//      margin-top: 150px;
//      display: flex;
//      flex-direction: column;
//      justify-content: center;
//      align-items: center;
//      position: relative;
//      line-height: 50px;
//    }
//
//    &-img {
//      margin-right: 140px;
//      margin-top: 30px;
//
//    }
//  }
//
//  &__title {
//    font-family: $font-base;
//    font-size: 2.1rem;
//    color: $black;
//    margin-bottom: 40px;
//  }
//
//  &__decorationImg {
//
//  }
//
//  &__desc {
//    font-family: $font-base;
//    font-size: 1.6rem;
//    color: $black;
//    text-align: center;
//    margin-top: 55px;
//    width: 60%;
//  }
//
//
//  &__box2 {
//    width: 50%;
//
//    &-pic {
//      height: 100%;
//      object-fit: cover;
//      width: 100%;
//    }
//  }
//}
