@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";


.header {


  @include tablet {
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  @include desktop {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__img {
    display: none;

    @include tablet {
      max-width: 60%;
      display: inherit;
    }

    @include desktop {
      display: inherit;
      width: 80%;
    }
  }

  &__content {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border-top: $yellow 2px solid;
    padding-top: 25px;

    @include tablet {
      margin-top: 40px;
      margin-bottom: 0px;
      padding-top: 0px;
      border: none;
      width: 50%
    }

    @include desktop {
      margin: 100px 0 0 90px;
      padding-top: 0;
      border: none;
    }
  }

  &__hello {
    font-family: $font-base;
    font-size: 1.2rem;
    color: $black;
    text-align: center;
    line-height: 1.9rem;
    margin-top: 30px;

    @include tablet {
      min-width: 495px;
      max-width: 700px;
      font-size: 1.5rem;
    }

    @include desktop {
      width: 700px;
      font-size: 2.1rem;
      line-height: normal;
    }
  }

  &__decorationImg {
    margin-top: 25px;
  }

  &__buttons {

    @include desktop {
      display: flex;
      margin-top: 65px;
    }
    &-btn {
      width: 250px;
      height: 90px;
      font-family: $font-base;
      font-size: 1.2rem;
      font-weight: lighter;
      color: $black;
      text-transform: uppercase;
      border: 0.75px solid $black;
      text-align: center;
      padding-top: 20px;
      margin: 20px;

      &:hover {
        box-shadow: 9px 7px 31px -19px rgba(38, 39, 44, 1);
      }

      @include tablet {
        margin-right: 20px;
      }
      @include desktop {
        margin: 20px 0 0 0;
        font-size: 1.7rem;
        padding: 10px 0px;
      }

    }
  }
}

//do kolejnych szerokości
//.header {
//  width: 90%;
//  display: flex;
//  justify-content: flex-end;
//  position: relative;
//
//  &__img {
//    width: 70%;
//    height: auto;
//    position: absolute;
//    left: -355px;
//    top: -145px;
//  }
//
//  &__content {
//    margin-top: 135px;
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//  }
//
//  &__hello {
//    width: 700px;
//    font-family: $font-base;
//    font-size: 2.1rem;
//    color: $black;
//    text-align: center;
//  }
//
//  &__decorationImg {
//    margin-top: 25px;
//  }
//
//  &__buttons {
//    display: flex;
//    margin-top: 65px;
//
//    &-1 {
//      margin-right: 40px;
//    }
//  }
//}