@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.columns {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: $black 1px solid;
    padding: 15px 10px;

    &-number {
      font-size: 1.5rem;
      font-family: $font-base;
      font-weight: bold;
      margin-bottom: 10px;
      color: $gold
    }

    &-what {
      font-size: 1rem;
      font-family: $font-base;
      font-weight: lighter;
      text-transform: uppercase;
      margin-bottom: 28px;
      color: $black;
      text-align: center;
    }

    &-description {
      font-size: 0.9rem;
      font-family: $font-alt;
      font-weight: lighter;
      text-align: justify;
      color: $black;
    }
  }
}

//DO RWD
//.columns {
//  margin-top: 134px;
//  background-color: gold;
//  display: flex;
//  justify-content: space-between;
//  padding: 46px 80px 86px;
//
//  &__column {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//    width: 25%;
//
//    &-number {
//      font-size: 5rem;
//      font-family: $font-base;
//      font-weight: lighter;
//      margin-bottom: 10px;
//      color: $gold
//    }
//
//    &-what {
//      font-size: 1rem;
//      font-family: $font-base;
//      font-weight: lighter;
//      text-transform: uppercase;
//      margin-bottom: 28px;
//      color: $black;
//      text-align: center;
//
//    }
//
//    &-description {
//      font-size: 0.9rem;
//      font-family: $font-alt;
//      font-weight: lighter;
//      text-align: justify;
//      color: $black;
//    }
//  }
//}