@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.helpInfo {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px 15px 40px;
  }

  &__title {
    font-family: $font-base;
    font-size: 0.9rem;
    color: $black;
    font-weight: lighter;
    text-align: justify;
    margin-bottom: 25px;
  }

  &__list {
    list-style: none;

    &-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0px;

      &:first-of-type {
        padding-top: 0px;
      }

    }

    &-col1 {
    }

    &-col2 {
      margin-top: 10px;

    }

    &-name {
      font-family: $font-alt;
      font-size: 1rem;
      color: $black;
    }

    &-desc {
      font-family: $font-base;
      font-size: 0.9rem;
      font-weight: lighter;
      color: $black;
    }

    &-items {
      font-family: $font-base;
      font-size: 0.9rem;
      font-weight: lighter;
      color: $black;

    }
  }
}