@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.help {

  &__box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px 15px 40px;

    @include tablet {
      margin-top: 40px
    }

    &-title {
      font-family: $font-base;
      font-size: 0.9rem;
      color: $black;
      font-weight: lighter;
      text-align: justify;
      margin-bottom: 25px;

      @include tablet {
        max-width: 75%;
        margin-bottom: 40px;
      }

      @include desktop {
        font-size: 1.2rem;
        margin-bottom: 60px;
      }
    }


    &-list {
      list-style: none;
    }

    &-listRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 0px;

      @include tablet {
        flex-direction: row;
      }

      @include desktop {
        flex-direction: row;
        border-bottom: 0.5px solid $grey;
        margin-bottom: 20px;
      }

      &:first-of-type {
        padding-top: 0px;
      }

    }

    &-listCol1 {
      padding-right: 150px;
    }

    &-listCol2 {
      margin-top: 10px;

      @include tablet {
        margin-top: 0;
        width: 30%;
      }

      @include desktop {
        margin-top: 0;
        width: 30%;
      }
    }

    &-name {
      font-family: $font-alt;
      font-size: 1rem;
      color: $black;

      @include desktop {
        font-size: 1.3rem;
      }
    }

    &-desc {
      font-family: $font-base;
      font-size: 0.9rem;
      font-weight: lighter;
      color: $black;

    }

    &-items {
      font-family: $font-base;
      font-size: 0.9rem;
      font-weight: lighter;
      color: $black;

      @include desktop {
        text-align: end;
        font-size: 0.8rem;
      }
    }
  }
}