@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";


.steps {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    margin-top: 0px;
  }

  @include desktop {
    padding: 50px 0 70px 0;
  }

  &__section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      margin: 40px 0;
    }

    @include desktop {
      margin-bottom: 40px;
    }

    &-text {
      font-size: 1.2rem;
      font-family: $font-base;
      color: $black;

      @include tablet {
        font-size: 1.5rem;
      }

      @include desktop {
        font-size: 2.1rem;
      }
    }

    &-img {
      margin: 25px 0px;

      @include tablet {
        margin-bottom: 0;
      }

      @include desktop {
        margin-top:30px;
        margin-bottom: 0;
      }
    }
  }

  &__section2 {
    background-color: #F0F1F1;
    width: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet {
        flex-direction: row;
        padding: 55px 80px;
      }

      @include desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 71px 250px 80px;
      }
    }

      &-step {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;

        @include tablet {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0;
        }

        @include desktop {
          flex-direction: column;
          justify-content: center;
          padding: 0;
        }

        &:first-of-type {
          padding-top: 40px;

          @include tablet {
            padding-top: 0;
          }

          @include desktop {
            padding-top: 0;
          }
        }

        &:last-of-type {
          padding-bottom: 40px;

          @include tablet {
          padding-bottom: 0;
        }

          @include desktop {
            padding-bottom: 0px;
          }
        }

        &-img {
          width: 50px;
          height: 50px;

          @include desktop {
            width: 83px;
            height: 83px;
          }
        }

        &-action {
          font-family: $font-base;
          font-size: 0.8rem;
          text-align: left;

          @include tablet {
            margin-top: 8px;
            text-align: center;
            font-size: 0.9rem;
          }

          @include desktop {
            font-size: 1rem;
            text-align: center;
            margin-top: 8px;
          }
        }

        &-line {

          @include tablet {
            width: 70px;
            height: 1px;
            background-color: $black;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center;
            align-items: center;
          }
          @include desktop {
            width: 70px;
            height: 1px;
            background-color: $black;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center;
            align-items: center;
          }
        }

        &-desc {
          font-family: $font-base;
          color: $black;
          font-size: 0.8rem;
          text-align: right;

          @include tablet {
            text-align: center;
          }

          @include desktop {
            font-size: 0.88rem;
            text-align: center;
          }
        }
      }
    }

    &__section3 {
      margin-top: 25px;

      @include desktop {
        margin-top: 35px;
      }

      &-btn {
        width: 250px;
        height: 90px;
        font-family: $font-base;
        font-size: 1.2rem;
        font-weight: lighter;
        color: $black;
        text-transform: uppercase;
        border: 0.75px solid $black;
        text-align: center;
        padding-top: 20px;

        &:hover {
          box-shadow: 9px 7px 31px -19px rgba(38, 39, 44, 1);
        }

        @include desktop {
          width: 310px;
          height: 120px;
          font-size: 1.7rem;
          padding: 10px 0;
        }
      }
    }
  }



////DO RWD DALEJ
//.steps {
//  margin-top: 55px;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//
//
//  &__section1 {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//
//    &-text {
//      font-size: 2.1rem;
//      font-family: $font-base;
//      color: $black;
//      margin-bottom: 31px;
//    }
//
//    &-img {
//      margin-bottom: 41px;
//    }
//  }
//
//  &__section2 {
//    width: 100%;
//    background-color: #F0F1F1;
//
//    &-container {
//      display: flex;
//      justify-content: space-between;
//      padding: 71px 350px 80px;
//    }
//
//    &-step {
//      display: flex;
//      flex-direction: column;
//      justify-content: center;
//      align-items: center;
//
//
//      &-img {
//        width: 83px;
//        height: 83px;
//      }
//
//      &-action {
//        font-family: $font-base;
//        font-size: 1rem;
//        margin-top: 8px;
//        text-align: center;
//
//        &::after {
//          content: "";
//          width: 70px;
//          height: 1px;
//          background-color: $black;
//          display: block;
//          margin-top: 10px;
//          margin-bottom: 10px;
//          justify-content: center;
//          align-items: center;
//        }
//      }
//
//      &-desc {
//        font-family: $font-base;
//        color: $black;
//        font-size: 0.88rem;
//        text-align: center;
//      }
//    }
//  }
//
//  &__section3 {
//    margin-top: 35px;
//  }
//}