@import "../../settings/colors";
@import "../../settings/fonts";

.end {

  &__container {
    padding: 20px 40px;
    border-top: $yellow 2px solid;
  }

  &__box {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;

  }

  &__text {
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
  }

  &__img {
    display: none;
  }

}