@import "../../settings/colors";
@import "../../settings/fonts";

.select1 {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    //margin-right: 15px;
    margin-bottom: 15px;
  }

  &__box {
    position: relative;
  }

  &__select {
    font-size: 0.9em;
    color: $black;
    font-family: $font-base;
    padding: 8px 60px 8px 18px;
    background-color: #eeedeb;
    cursor: pointer;
    outline: none;

    @include desktop {
      font-size: 1.2rem;
      padding: 8px 80px 8px 18px;
    }
  }

  &__arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    background-color: #eeedeb;
    height: 40px;
    width: 50px;
    pointer-events: none;

    @include desktop {
      height: 47px;
      width: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20%;
      background: url("../../../assets/Icon-Arrow-Down.svg");
      width: 50px;
      height: 23px;
    }
  }

  &__error {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: $font-base;
    margin-top: 10px;
    text-align: left;
  }
}


//.select1 {
//
//  &__container {
//    display: flex;
//    align-items: center;
//  }
//
//  &__label {
//    margin-right: 15px;
//  }
//
//  &__box {
//    position: relative;
//  }
//
//  &__select {
//    font-size: 1.2em;
//    color: $black;
//    font-family: $font-base;
//    padding: 8px 80px 8px 18px;
//    background-color: #eeedeb;
//    cursor: pointer;
//    outline: none;
//  }
//
//  &__arrow {
//    position: absolute;
//    top: 1px;
//    right: 1px;
//    display: block;
//    background-color: #eeedeb;
//    height: 47px;
//    width: 50px;
//    pointer-events: none;
//
//    &::after {
//      content: "";
//      position: absolute;
//      top: 20%;
//      background: url("../../../assets/Icon-Arrow-Down.svg");
//      width: 50px;
//      height: 23px;
//    }
//  }
//
//  &__error {
//    color: red;
//    font-size: 0.9rem;
//    font-weight: bold;
//    font-family: $font-base;
//    margin-top: 10px;
//    text-align: left;
//  }
//}



