@import "../../settings/colors";
@import "../../settings/fonts";

.select2 {

  &__container {

  }

  &__label {
    margin-bottom: 100px;


  }
}

.checkbox {

  &__header {
    margin-top: 45px;
    margin-bottom: 20px;
  }

  &__container {
    padding: 20px 0px;

  }

  &__label {
    font-size: 1.2em;
    border: 1px solid $black;

  }

}

input {
  appearance: none;
}

.textarea {

  &__container {
    margin-top: 45px;

  }

  &__header {
    margin-bottom: 20px;

  }

  &__field {
    width: 570px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $black;

  }
}