@import "../../settings/colors";
@import "../../settings/fonts";

.radio {
  &__label {
    display: grid;
    grid-template-columns: 1.2rem auto;
    gap: 2rem;
    margin-bottom: 50px;
  }
}

input[type="radio"] {
  appearance: none;
  background-color: transparent;

  font: inherit;
  color: $black;
  width: 40px;
  height: 40px;
  border: 1px solid $black;
  transform: translateY(-0.2em);
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid $black;
    background-color: $yellow;
    transform: scale(0);
  }

  &:checked::before {
    transform: scale(1);
  }
}


