@import "../../settings/colors";
@import "../../settings/fonts";

.select2 {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.checkbox {

  &__header {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__container {
    padding: 10px 0;
    display: flex;
  }

  &__label {

    margin-right: 25px;
    cursor: pointer;
  }

  &__name {
    position: relative;
    display: inline-block;
    background-color: transparent;
    padding: 10px 15px;
    user-select: none;
    overflow: hidden;
    font-size: 1.2em;
    border: 1px solid $black;
    }
  }



input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span {
  background: $yellow;
}

.textarea {

  &__container {
    margin-top: 20px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__field {
    width: 570px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $black;

  }
}