@import "../../settings/colors";
@import "../../settings/fonts";

.form__boxes {
  display: flex;
  max-width: 55%;
  justify-content: space-between;

}

.box1 {


  &__title {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__element {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    align-items: center;
  }

  &__name {
    margin-right: 20px;
    line-height: 25px;
  }

  &__field {
    outline: none;
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $black;
    font-size: 0.8rem;
    padding-left: 10px;

  }
}

.step4__error {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: $font-base;
  margin: 5px 0px 5px 102px;
  text-align: left;
}