@import "../settings/colors";
@import "../settings/fonts";

.gaHeader {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 120px;

  &__img {
    max-width: 60%;
    position: absolute;
    top: -150px;
    left: 0px;
    z-index: -1;
  }


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

  }

  &__decorationImg {

  }

  &__text1 {
    width: 700px;
    font-family: $font-base;
    font-size: 2.1rem;
    color: $black;
    text-align: center;
    margin-bottom: 25px;

  }

  &__text2 {
    width: 700px;
    font-family: $font-base;
    font-size: 2.2rem;
    color: $black;
    text-align: center;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__step {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;



    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 35px;
      padding-right: 35px;
    }

        //&::before {
        //  content: "";
        //  width: 120px;
        //  height: 120px;
        //  display: block;
        //  position: absolute;
        //  border: 1px solid $black;
        //  right: 501px;
        //  top: 395px;
        //  transform: rotate(45deg);
        //}


    //&__box-2 {
    //  display: flex;
    //  flex-direction: column;
    //  justify-content: center;
    //  align-items: center;
    //  padding-left: 30px;
    //  padding-right: 30px;

      //&::before {
      //  content: "";
      //  width: 120px;
      //  height: 120px;
      //  display: block;
      //  position: absolute;
      //  border: 1px solid $black;
      //  right: 354px;
      //  top: 395px;
      //  transform: rotate(45deg);
      //}


    //&__box-3 {
    //  display: flex;
    //  flex-direction: column;
    //  justify-content: center;
    //  align-items: center;
    //  padding-left: 30px;
    //  padding-right: 30px;

      //&::before {
      //  content: "";
      //  width: 120px;
      //  height: 120px;
      //  display: block;
      //  position: absolute;
      //  border: 1px solid $black;
      //  right: 209px;
      //  top: 395px;
      //  transform: rotate(45deg);
      //}
    

    //&__box-4 {
    //  display: flex;
    //  flex-direction: column;
    //  justify-content: center;
    //  align-items: center;
    //  padding-left: 30px;
    //  padding-right: 30px;

      //&::before {
      //  content: "";
      //  width: 120px;
      //  height: 120px;
      //  display: block;
      //  position: absolute;
      //  border: 1px solid $black;
      //  right: 69px;
      //  top: 395px;
      //  transform: rotate(45deg);
      //}


    &-number {
      font-size: 1.7rem;
      font-family: $font-base;
      font-weight: lighter;
      margin-bottom: 15px;

    }

    &-text {
      font-size: 1.2rem;
      font-family: $font-base;
      font-weight: lighter;
      text-align: center;
    }

  }

  &__square {
    display: flex;
    position: absolute;
    top: 368px;
    right: 70px;


    &-item {
      width: 120px;
      height: 120px;
      border: 1px solid $black;
      transform: rotate(45deg);
      margin-left: 25px;

    }
  }

}