@import "../settings/colors";
@import "../settings/fonts";

.login {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;

  }

  &__text {
    font-size: 2.2rem;
    font-family: $font-base;
    color: $black;
    margin-bottom: 35px;

  }

  &__img {

  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 67px;
    max-width: 385px;
    background-color: $white;
    position: relative;

    &-container {
      width: 380px;
      height: 235px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

          &:first-child {
            padding-top: 40px;
          }

          &:nth-child(1) {
            padding-bottom: 40px;

           }
    }


    &-field {
      display: flex;
      flex-direction: column;
      margin-left: 67px;
      width: 250px;

    }

    &-label {
      font-size: 0.8rem;
      font-family: $font-base;
      color: $black;
      margin-bottom: 5px;


    }

    &-input {
      font-family: $font-base;
      font-size: 1rem;
      color: $black;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $black;
      outline: none;



    }
  }

  &__buttons {
    width: 550px;
    display:  flex;
    justify-content: space-between;
    position: absolute;
    top: 230px;
    left: -75px;

    &-btn {
      font-family: $font-base;
      font-size: 1rem;
      color: $black;
      background-color: transparent;
      border: none;
      padding: 13px;
      width: 150px;
      text-align: center;
      align-self: flex-end;
      cursor: pointer;
      margin-top: 40px;
      font-weight: lighter;

      &:hover {
        border: 1px solid #707070;
      }

    }
  }

  &__error {

    color: red;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: $font-base;
    margin-top: 10px;
    text-align: left;
  }

}

