@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.registration {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &__text {
    font-size: 1.5rem;
    font-family: $font-base;
    color: $black;
    margin-bottom: 25px;
    margin-top: 50px;

    @include desktop {
      font-size: 2.2rem;
      margin-top: 90px;
      margin-bottom: 35px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    width: 100vw;
    height: 300px;
    background-color: $white;

    @include tablet {
      margin-top: 50px;
      max-width: 385px;
      height: 340px;
    }

    @include desktop {
      margin-top: 70px;
      max-width: 385px;
      height: 340px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 40px;

      @include tablet {
        margin: 0;
      }

      @include desktop {
        margin: 0;
      }
    }

    &-field {
      display: flex;
      flex-direction: column;
      padding: 20px 0px;

      @include tablet {
        padding: 25px 60px;
      }

      @include desktop {
        padding: 25px 60px;
      }

      &:first-of-type {

        padding-top: 0;

        @include tablet {
          padding-top: 45px;
        }

        @include desktop {
          padding-top: 35px;
        }
      }

      &:last-of-type {

        @include tablet {

      }
        @include desktop {
          padding-top: 30px;
        }


      }
    }

    &-label {
      font-size: 0.8rem;
      font-family: $font-base;
      font-weight: bold;
      color: $black;
      margin-bottom: 10px;
      position: relative;

      @include desktop {
        font-size: 0.9rem;
      }

    }

    &-input {
      font-family: $font-base;
      font-size: 0.8rem;
      color: $black;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $black;
      outline: none;
      width: 260px;
    }
  }

  &__buttons {
    display:  flex;
    justify-content: space-between;
    width: 70vw;

    @include tablet {
      width: 45vw;
      margin-top: 65px;
    }

    @include desktop {
      width: 35vw;
      margin-top: 65px;
    }

    &-btn {
      font-family: $font-base;
      font-size: 1rem;
      color: $black;
      background-color: transparent;
      border: none;
      padding: 13px;
      width: 150px;
      text-align: center;
      align-self: flex-end;
      cursor: pointer;

      &:hover {
        border: 1px solid #707070;
      }

    }
  }

  &__error {

    color: red;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: $font-base;
    margin-top: 10px;
    text-align: left;
    position: absolute;
    top: 40px;

  }
}

