@import "./settings/colors";
@import "./settings/fonts";

.gaHeader {
  width: 90%;
  display: flex;
  justify-content: flex-end;

  &__imgBox {

    &-img {

    }
  }


  &__container {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__decorationImg {
    margin-top: 25px;
  }

  &__text1 {
    width: 700px;
    font-family: $font-base;
    font-size: 2.1rem;
    color: $black;
    text-align: center;
  }
  
  &__text2 {
    width: 700px;
    font-family: $font-base;
    font-size: 2.1rem;
    color: $black;
    text-align: center;
  }

  &__steps {

    &-box {

    }

    &-number {

    }

    &-text {

    }

  }



}