@import "./settings/colors";
@import "./settings/fonts";

.about {
  display: flex;
  margin-top: 80px;

  &__text {
    width: 50%;
    background-color: #F0F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__header {
    font-family: $font-base;
    font-size: 2.1rem;
    color: $black;
    margin-bottom: 40px;
  }

  &__decorationImg {

  }

  &__desc {
    font-family: $font-base;
    font-size: 1.6rem;
    color: $black;
    text-align: center;
    margin-top: 55px;
    width: 70%;
  }

  &__signature {
    position: absolute;
    left: 590px;
    top: 700px;
  }

  &__img {
    width: 50%;
    height: auto;

    &-pic {
      width: 942px;
      height: 935px;
      object-fit: cover;
      object-position: 0% 50%;


    }
  }
}