@import "settings/colors";
@import "settings/fonts";
@import "settings/mixins";

.contact {
  display: flex;
  flex-direction: column;
  border-top: $yellow 2px solid;

  @include tablet {
    position: relative;
    justify-content: space-between;
    border-top: none;
  }

  @include desktop {
    position: relative;
    justify-content: space-between;
    border-top: none;
  }

  &__backgroundImg {
    display: none;

    @include tablet {
      display: block;
      width: 100%;
      opacity: 0.4;
    }

    @include desktop {
      display: block;
      width: 100%;
      opacity: 0.4;

    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 40px 40px 40px;

    @include tablet {
      align-self: flex-end;
      position: absolute;
      margin: 0;
      top: 55px;
      right: 25px;
    }

    @include desktop {
      align-self: flex-end;
      position: absolute;
      margin: 0;
      top: 140px;
      right: 130px;
      width: 450px;
    }
  }

  &__text {
    font-family: $font-base;
    font-size: 1.2rem;
    color: $black;

    @include desktop {
      font-size: 2.1rem;
    }
  }

  &__deco-img {
    margin-top: 25px;
    margin-bottom: 80px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;

    &-row1 {
      display: flex;
      justify-content: space-between;

      @include desktop {
        padding: 20px 0;
        justify-content: space-between;
      }

      &-field {
        display: flex;
        flex-direction: column;
        width: 50%;

        @include desktop {
          width: auto;
        }

        &:first-of-type {
          padding-right: 20px;

          @include desktop {
            padding-right: 30px;
          }
        }
        &:last-of-type {
          @include desktop {
            padding-left: 30px;
          }
        }
      }

      &-label {
        font-family: $font-base;
        font-size: 0.9rem;
        color: $black;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: left;
        position: relative;
      }

      &-input {
        font-family: $font-base;
        font-size: 0.8rem;
        color: $black;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $black;
        outline: none;

        @include desktop {
          font-size: 0.9rem;
        }
      }
    }

    &-row2 {
      display: flex;
      padding-top: 70px;

      &-field {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &-label {
        font-family: $font-base;
        font-size: 0.9rem;
        color: $black;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: left;
        position: relative;
      }

      &-input {
        font-family: $font-base;
        font-size: 0.8rem;
        color: $black;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $black;
        outline: none;
        resize: none;
      }
    }

    &-btn {
      font-family: $font-base;
      font-size: 1rem;
      color: $black;
      text-transform: uppercase;
      background-color: transparent;
      border: 1px solid $black;
      padding: 13px;
      width: 150px;
      text-align: center;
      align-self: flex-end;
      cursor: pointer;
      margin-top: 60px;

      @include desktop {
        width: 150px;
      }

      &:hover {
        box-shadow: 9px 7px 31px -19px rgba(38, 39, 44, 1);
      }
    }
  }

  &__boxSuccess {
    width: 65%;
    position: relative;
  }

  &__success {
    color: green;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: $font-base;
    text-align: center;
    position: absolute;
    top: -50px;

    @include tablet {
      font-size: 0.9rem;
    }

    @include desktop {
      font-size: 1rem;
    }
    }

  &__error {
    color: red;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: $font-base;
    margin-top: 10px;
    text-align: left;
    position: absolute;
    top: 55px;
  }

  &__error-row2 {
    color: red;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: $font-base;
    margin-top: 10px;
    text-align: left;
    position: absolute;
    top: 105px;
  }

}
