@import "./settings/colors";
@import "./settings/fonts";

.login {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;

  }

  &__text {
    font-size: 2.2rem;
    font-family: $font-base;
    color: $black;
    margin-bottom: 35px;

  }

  &__img {

  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 67px;
    max-width: 385px;
    background-color: $white;

    &-container {
      padding: 40px 67px 10px 67px;
    }


    &-field {
      display: flex;
      flex-direction: column;

    }

    &-label {
      font-size: 0.8rem;
      font-family: $font-base;
      color: $black;
      margin-bottom: 5px;


    }

    &-input {
      font-family: $font-base;
      font-size: 1rem;
      color: $black;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $black;
      outline: none;

      margin-bottom: 30px;

    }
  }

  &__buttons {
    width: 550px;
    display:  flex;
    justify-content: space-between;

    &-btn {
      font-family: $font-base;
      font-size: 1rem;
      color: $black;
      background-color: transparent;
      border: none;
      padding: 13px;
      width: 150px;
      text-align: center;
      align-self: flex-end;
      cursor: pointer;
      margin-top: 40px;
      font-weight: lighter;

      &:hover {
        border: 1px solid #707070;
      }

    }
  }
}

