@import "./settings/colors";
@import "./settings/fonts";
@import "./settings/mixins";

.desktopNavigation {
  display: none;

  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}


.mobileNavigation {
  position: relative;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none
  }

  &__menu {
    color: $black;
    position: absolute;
    right: 5%;
    top: 5%;
    coursor: pointer;
    z-index: 2;
    margin-bottom: 50px;
  }
}

.nav {
  &__container {
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 300px;

    @include tablet {
      justify-content: flex-end;
      position: unset;
      margin: 20px 30px 0px 20px;
      border: none;
      width: auto;
      height: auto;
    }

    @include desktop {
      justify-content: flex-end;
      position: unset;
      margin: 20px 60px 0px 20px;
      border: none;
      width: auto;
      height: auto;
    }
  }

  &__main {

    &-loggedIn,
    &-loggedOut {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 40px;

      @include tablet {
        justify-content: flex-end;
        margin-bottom: 10px;
      }

      @include tablet {
        justify-content: flex-end;
        margin-bottom: 10px;
      }
    }

    &-element {
      font-family: $font-base;
      font-size: 0.8rem;
      font-weight: bold;
      color: $black;
      padding: 9px 10px;

      @include tablet {
        padding: 9px 20px;
        justify-content: flex-end;
      }

      @include desktop {
        padding: 9px 20px;
        justify-content: flex-end;
      }

      &:hover {
        border: 1px solid #FAD648;
      }

      &-user {
        font-family: $font-base;
        font-size: 0.8rem;
        font-weight: bold;
        color: $black;
        padding: 9px 10px;
        margin-bottom: 5px;
      }

    }
  }




  //&__main {
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: flex-start;
  //  margin-bottom: 40px;
  //
  //  @include tablet {
  //    justify-content: flex-end;
  //  }
  //
  //  @include tablet {
  //    justify-content: flex-end;
  //  }
  //
  //  &-element {
  //    font-family: $font-base;
  //    font-size: 0.8rem;
  //    font-weight: bold;
  //    color: $black;
  //    padding: 9px 10px;
  //
  //
  //    @include tablet {
  //      padding: 9px 20px;
  //      justify-content: flex-end;
  //    }
  //
  //    @include desktop {
  //      padding: 9px 20px;
  //      justify-content: flex-end;
  //    }
  //
  //    &:hover {
  //      border: 1px solid #FAD648;
  //    }
  //
  //    &-user {
  //      font-family: $font-base;
  //      font-size: 0.8rem;
  //      font-weight: bold;
  //      color: $black;
  //      padding: 9px 10px;
  //      margin-bottom: 5px;
  //    }
  //
  //  }
  //}

  &__scroll {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;


    @include tablet {
      justify-content: flex-end;
      flex-direction: row;
    }

    @include desktop {
      justify-content: flex-end;
      flex-direction: row;
    }

    &-element {
      font-family: $font-base;
      font-size: 0.8rem;
      color: $black;
      cursor: pointer;
      padding: 9px 10px;


      @include tablet {
        padding: 9px 20px;
        text-align: center;
        align-self: center;
      }

      @include desktop {
        text-align: center;
        padding: 9px 20px;
        font-size: 1rem;
        align-self: center;
      }
      &:hover {
        background-color: $yellow;

        @include tablet {
          background-color: transparent;
          border: 1px solid $yellow;
        }

        @include desktop {
          background-color: transparent;
          border: 1px solid $yellow;
        }
      }
    }

  }


}

//rwd
//.nav {
//
//  &__container {
//    max-width: 90%;
//    display: flex;
//    flex-direction: column;
//    align-items: flex-end;
//  }
//
//  &__main {
//    max-width: 100%;
//    display: flex;
//    justify-content: space-between;
//    margin-top: 45px;
//    margin-bottom: 35px;
//
//    &-element {
//      font-family: $font-base;
//      font-size: 0.8rem;
//      color: $black;
//      padding: 9px 10px;
//
//      &:hover {
//        border: 1px solid #FAD648;
//      }
//    }
//  }
//
//  &__scroll {
//    display: flex;
//    justify-content: space-between;
//
//    &-element {
//      font-family: $font-base;
//      font-size: 1rem;
//      color: $black;
//      cursor: pointer;
//      padding: 9px 20px;
//
//      &:hover {
//        border: 1px solid $black;
//      }
//    }
//
//  }
//}