
@import "reset";
@import "normalize";
@import "settings/colors";
@import "settings/fonts";
@import "homeHeader";
@import "homeColumns";
@import "homeHowItWorks";
@import "homeAbout";
@import "homeContact";
@import "navbar";
@import "login";


html {
  font-size: 18px;
}

.container {
  width: 100vw;
}

#button {
  width: 310px;
  height: 120px;
  font-family: $font-base;
  font-size: 2rem;
  font-weight: lighter;
  color: $black;
  text-transform: uppercase;
  border: 0.75px solid $black;
  text-align: center;
  padding-top: 13px;
}

//#link {
//  text-decoration:  none;
//}

a {
  text-decoration: none;
}

//#decoration {
//  width: 20px;
//  height: auto;
//}
