
@import "reset";
@import "normalize";
@import "settings/colors";
@import "settings/fonts";
@import "Home/homeHeader";
@import "Home/homeColumns";
@import "Home/homeHowItWorks";
@import "Home/homeAbout";
@import "Home/homeWhomWeHelp";
@import "Home/homeWhomWeHelpList";
@import "Home/homeContact";
@import "navbar";
@import "Login/login";
@import "Home/Homepagination";
@import "Login/registration";
@import "Login/logout";
@import "GiveAway/giveAwayHeader";
@import "GiveAway/Form/form";
@import "GiveAway/Form/step1";
@import "GiveAway/Form/step2";
@import "GiveAway/Form/step3";
@import "GiveAway/Form/step4";
@import "GiveAway/Form/formSummary";



html {
  font-size: 18px;
  font-family: $font-base;
  color: $black
}

.container {
  width: 100vw;
}

#button {
  width: 310px;
  height: 120px;
  font-family: $font-base;
  font-size: 2rem;
  font-weight: lighter;
  color: $black;
  text-transform: uppercase;
  border: 0.75px solid $black;
  text-align: center;
  padding-top: 13px;
}


a {
  text-decoration: none;
}

//#decoration {
//  width: 20px;
//  height: auto;
//}
